.mm {
  display: block;
  text-align: start;
  position: relative;
  background-position-x: 67.3854%;
  translate: none;
  rotate: none;
  scale: none;
  transform: translate3d(-26.9542px, 0px, 0px);
}
