/* 


element {
  translate: none;
  rotate: none;
  scale: none;
  border-radius: 100rem;
  transform: translate(0px, -200.1px) scale(0.14);
}
element {
  translate: none;
  rotate: none;
  scale: none;
  border-radius: 1.5rem;
  transform: translate(0px);
}
"gsap scroll animation in this videio section"
*/
